 <div class="loginDiv">
            <div><input type='text' id="username" /></div>
            <div><input type='password' id="password"/></div>
            <button class='btn btn-primary signin'>Sign In</button>
            <button class='btn btn-primary signout'>Sign out</button>
            <div class="input-group">
                <span class="input-group-text">With textarea</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
              </div>
            </div>